.note {
    padding: 10px;
}

.note-links:not(:last-child):after {
    height: 15px;
    width: 266px;
    display: block;
    background-image: url("/horizontal-delimiter.png");
    position: relative;
    left: 50%;
    margin-left: -133px;
}

.note blockquote {
    font-size: inherit;
}

.note img {
    max-width: 100%;
}