{% extends "layout.html" %}

{% block content %}
    {% if can_submit %}
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ url_for('note-edit') }}" class="btn btn-primary btn-xs">Добавить заметку</a>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid notes">
        {% for note in notes %}
            {% if can_submit or not note.is_draft %}
                <div class="row note">
                    <div class="col-lg-12">
                        <article>
                            {% if note.preview %}
                                {{ note.preview|header_into_link(note.id) }}
                                <p>
                                    <a class="btn read-more" href="{{ url_for('note-details', note_id=note.id) ~ '#cut' }}">
                                        {{ note.read_more_label|default(app_config.get('blog.label.read_more'), True) }}
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    </a>
                                </p>
                            {% else %}
                                {{ note.text|default(note.source, True)|header_into_link(note.id) }}
                            {% endif %}
                        </article>
                        {% if can_submit %}
                            <div class="row note-controls">
                                <a href="{{ url_for('note-edit-id', note_id=note.id) }}" class="btn btn-default btn-xs">Изменить</a>
                                <a href="{{ url_for('note-remove', note_id=note.id) }}" class="btn btn-danger btn-xs">Удалить</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row note-links">
                    <div class="col-lg-12 text-center">
                        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        <a href="{{ url_for('note-details', note_id=note.id) }}">
                            {{ note.created_at.strftime("%d.%m.%Y %H:%M") }}
                        </a>
                        {% if note.is_draft %}[Draft]{% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}