<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ site_title ~ ' | ' if site_title }}Никита Дементьев (Neutral)</title>
    <script src="/js/jspm_packages/system.js"></script>
    <script src="/js/config.js"></script>
    <script>
        System.import('app');
    </script>
    <link href="/js/jspm_packages/github/twbs/bootstrap@3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/notes.css" rel="stylesheet">
  </head>

<body>

    <div class="container">
        <div class="header clearfix">
            <nav>
            {% with %}
                {% set rroute = request.route.name %}
                <ul class="nav nav-pills pull-right">
                {% for route, title in [
                    ('index', 'Главная'),
                    ('note-list', 'Заметки'),
                    ('about', 'Кто я вообще')
                ] %}
                    <li role="presentation"{{ ' class="active"' if route == rroute }}>
                        <a href="{{ url_for(route) }}">{{ title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endwith %}
            </nav>
            <h3 class="text-muted">My own website ^___^</h3>
        </div>

        {% block content %}{% endblock %}

        <footer class="footer">
            <p>(cc by) 2015</p>
        </footer>

    </div> <!-- /container -->
</body>
</html>