<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ site_title ~ ' | ' if site_title }}Никита Дементьев (Neutral)</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/notes.css" rel="stylesheet">
    <link href="/css/darcula.css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="Notes" href="{{ url_for('note-feed') }}" />
  </head>

<body>

    <div class="container">
        <div class="header clearfix">
            <nav>
            {% with %}
                {% set rroute = request.route.name %}
                <ul class="nav nav-pills pull-right">
                {% for route, title in [
                    ('index', 'Главная'),
                    ('note-list', 'Заметки'),
                    ('about', 'Кто я вообще')
                ] %}
                    <li role="presentation"{{ ' class="active"' if route == rroute }}>
                        <a href="{{ url_for(route) }}">{{ title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endwith %}
            </nav>
            <h3 class="text-muted">My own website ^___^</h3>
        </div>

        {% block content %}{% endblock %}

        <footer class="footer">
            <p>(cc by) 2015</p>
        </footer>

    </div> <!-- /container -->
    <script>
        var fontFamilies = [ 'Roboto:300,400:latin,cyrillic' ];
        if (document.getElementsByTagName('CODE').length) {
            fontFamilies.push('Source+Code+Pro:400,500:latin');
        }
        WebFontConfig = {
            google: { families: fontFamilies }
        };
        var loadFonts = function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        };
        loadFonts();
    </script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5PZ3K4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5PZ3K4');</script>
    <!-- End Google Tag Manager -->
</body>
</html>