{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <article>
            <h4>- А ты по жизни кто?</h4>
            <p>
                Любознательный хрен, которому интересно всё подряд.
            </p>
            <p>
                Частенько это любопытство притягивают к себе разработка и другие айтишные дела,
                хотя иногда мысли уносятся далеко от рабочего места: таким макаром, например, я недавно обзавёлся
                небольшой земляничной плантацией =).
            </p>
            <p>
                Сейчас вот возникла <s>надуманная</s> потребность в персональном сайте — мог бы ведь запилить на хорошо
                знакомом фреймворке, но нет, потянуло Bottle глянуть. Вот так и проходят дни: на перебор чужих библиотек
                и ковыряние в API трачу больше времени, чем на написание своих велосипедов.
            </p>
            <p>
                Десять лет уже занимаюсь разработкой сайтов — и кажется, что это никогда не надоест, но один момент таки удручает.
                В последнее время, самый популярный наблюдаемый сценарий жизни проекта: люди находят денег,
                находят девелоперов, делают в меру прикольный продукт, потом пускают его ко дну своим лихим менеджментом.
                Кому понравится, что результат многомесячных трудов канает в Лету? Ведь не ради денег код пишем, в конце концов.
                Выход каждый ищет себе сам — к счастью, вариантов великое множество.
            </p>
            <p>
                Ну а я решил, что пока не сильно обременён расходами, забабахаю десяток сайд-проектов,
                авось какой выживет. Благо, идей куча, даже концептуально проработать некоторые успел. А ещё я стащил толстую
                книжку по менеджменту, ориентированному на рынок (теперь-то меня точно ждёт <s>тюрьма</s> успех).
                За похождениями негламурного стартапера можно будет следить в разделе <a href="{{ url_for('note-list') }}">заметок</a>.
            </p>
            <p>
                А, ну и если вам внезапно потребовался удалённый python / php / es6 разработчик на частичную занятость,
                то пишите — если уж сам не возьмусь, то кого-нибудь посоветую или мнением по проблеме поделюсь.
                Контакты можно найти <a href="{{ url_for('index') }}">на главной</a>.
            </p>
        </article>
    </div>
</div>
{% endblock content %}